html, body {
  height: 100%;
  color: #565051;
}

.oops {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 15px;
  min-width: 640px;
}

.cheat {
  color: red;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 15px;
  min-width: 640px;
}

#casino {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 15px;
  min-width: 640px;
}

#casino h1 {
  margin: 0px 0px 15px 0px;
}

.slotMachine:nth-child(1) {
  margin-left: 0;
}

#casino .content {
  text-align: center;
}

.dash {
  margin-left: 5px;
  overflow: hidden;
  display: inline-block;
  line-height: 100px;
  height: 100px;
  font-size: 50px;
}

.slotMachine {
  margin-left: 5px;
	width: 8.5%;
	border: 2px solid red;
	height: 90px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
	background-color: #ffffff;
  line-height: 90px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}

.correct {
  border-color: green;
}

.slot {
  font-size: 50px;
}

.button_group {
  margin-top: 15px;
}

.button_group div {
  width: 10% !important;
}
